<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-primary dropdown-toggle">
      Manage Recipe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Save</a>
      </li>
      <li>
        <a href="#">Fetch</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    Recipe description
  </div>
  <div class="col-xs-12">
    Ingridients
  </div>
</div>