<p>
  server works!
</p>
<!-- String interpolation binding -->
<p>{{name}}</p>
<!-- property binding [ ] = " " -->
<button class="btn btn-primary" [disabled]="buttonProp">Hey</button>
<!-- Event binding -->
<button class="btn btn-primary" (click)="clickMe()">{{textBtn}}</button>
<label>normal input field</label>
<input type="text" class="form-control" (input)="myInput($event)">
<p>{{inputValue}}</p>
<!-- two way data binding [(ngModel)] -->
<label>two way input field</label>
<input type="text" class="form-control" [(ngModel)]="inputValue">
<p>{{inputValue}}</p>
<!-- *ngIf *is required -->
<p *ngIf="inputValue">hello bro</p>
<!-- ngStyle used as property binding-->
<p [ngStyle]="{background: 'red'}">heyyyyy</p>
<!-- ngClass used for adding class conditionally -->
<p [ngClass]="{ngClassEx : inputValue}">using ng class for class only applies when input has value</p>
<!-- *ngFor * is required -->
<p *ngFor="let server of servers; let i = index">{{server }} {{i}}</p>
<!-- ng-content  used to render content inside selector-->
<!-- <app-xyz>
  <p>sadasdsadsd</p>
</app-xyz> -->
<!--ngOnInit runs after constructor  -->
<!--Directives  -->

<!-- attribute and structure ==>Directives

structural - modifies the dom, HTML structure, eg ngIF ngFor,
             * is added before structural directive
attribute - modifies only the property and affect only the element they are added to, 
             eg - ngClass, ngStyle
             [ngClass]="odd: odd/2!==0" , first is the class name second param is the condition -->
<!-- ngSwitch its like switch case  -->
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchDefault>Value is Default</p>
</div>

<!-- Injecting service -> we need to provide in the providers[],
services can be provided at app level for all component,
provided at component so it will be available for child comp,
to use service in other service use Injectable() where u want to inject the service -->